.activeButton {
  background-color: var(--color-primary-50);
  padding: 18px 21px !important;
  border-radius: 8px;
  color: var(--color-grey-900);
  max-width: 148px !important;
  width: 100% !important;
  height: auto !important;
}

.defaultButton {
  padding: 18px 21px !important;
  border-radius: 8px;
  background-color: #fff;
  color: var(--color-grey-900);
  max-width: 148px !important;
  width: 100% !important;
  height: auto !important;

  &:hover {
    border: 0 !important;
    outline: 0 !important;
    background-color: var(--color-primary-50) !important;
    border: 1px solid var(--color-grey-border);
    color: var(--color-grey-900) !important;
  }
}

.line {
  max-width: 840px;
  width: 100%;
  border-bottom: 1px solid #e2e8f0;
  margin: 25px 0;
}
