.heroSection {
  background-color: var(--color-grey-background);
  padding-top: 40px;
}

.customTitle {
  font-size: 40px;
  font-weight: 700;
  color: var(--color-grey-900);
}

.customParagraph {
  font-size: 16px;
  color: var(--color-grey-700);
}

.rate {
  margin: 0;
  padding: 0;
}
