body {
  display: flex;
  flex-direction: column;
  color: var(--color-grey-700);
  background-color: var(--color-light);
}

.ant-card {
  box-shadow: 0px 0px 8px 0px rgba(59, 130, 246, 0.12) !important;
}
