:root {
  --color-grey-900: #0f172a;
  --color-grey-700: #334155;
  --color-primary-500: #3b82f6;
  --color-primary-100: #e0f2fe;
  --color-grey-300: #cbd5e1;
  --color-grey-100: #f1f5f9;
  --color-light: #fff;
  --color-dark: #000;
  --color-grey-background: #f8fafc;
  --color-grey-border: #e2e8f0;
  --color-Warning-300: #fec84b;
  --color-active-600: #16a34a;
  --color-grey-bg: #f8fafc;
  --color-primary-50: #eff6ff;
  --transition-duration: 0.2s;
}
