.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid var(--color-grey-border);
  font-size: 14px;
  font-weight: 500;
}

.logo {
  &Container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Text {
    color: var(--color-grey-700) !important;
  }
}

.nav {
  &Item {
    display: inline-block;
    color: var(--color-grey-700);
    margin-left: 28px;
    width: fit-content;
    height: fit-content !important;
  }
}

.search {
  height: 40px;
  margin-left: 32px;
  border-radius: 8px;
}

.iconCart {
  margin-left: 84px;
}

.login,
.signUp {
  padding: 10px;
  line-height: normal;
  border: 1px solid var(--color-grey-700);
  transition: background-color var(--transition-duration) ease,
    color var(--transition-duration) ease;
}

.login {
  color: var(--color-grey-700);
  background-color: transparent;

  &:hover {
    background-color: var(--color-grey-700);
    color: var(--color-light);
  }
}

.signUp {
  color: var(--color-light);
  background-color: var(--color-grey-700);

  &:hover {
    background-color: color-mix(in oklch, var(--color-grey-700) 90%, white 10%);
    color: var(--color-light);
  }
}
